# C++
*.o
*.so
*.a
*.elf
*.dSYM
*.pdb
*.idb
*.sbr
*.ilk
*.map
*.lst
*.exp
*.lib
*.pch
*.obj

# C#
*.user
*.vshost.exe
*.vshost.exe.manifest
*.suo
*.ipk
*.resharper
*.nuget
*.gitmodules
*.gitattributes
*.gitreview
*.git-blame-ignore-revs-file

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.sln

# Other
bin/
obj/
*.log
*.tmp
*.swp
.vs/